* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: rgb(50, 167, 145);
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.header img {
  margin: 5px 10px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-around;
  width: 500px;
  align-items: center;
  margin: 0 5px;
}

.trybewarts-login input {
  padding: 5px;
  border-radius: 8px;
  border: 2px solid darkgreen;
}

#trybewarts-header-title {
  align-self: center;
  font-family: Montserrat Alternates, sans-serif;
  color: white;
}

#btn-login {
  background-color: darkgreen;
  color: white;
  padding: 5px 8px;
  border-radius: 8px;
  font-weight: 900;
  border: 2px solid white;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  font-size: 21px;
  padding: 45px;
  border: 2px solid darkgreen;
  margin: 40px 15px;
  border-radius: 8px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form input {
  padding: 5px;
  border-radius: 5px;
}

#evaluation-form-name , #evaluation-form-email-house {
  margin: 0 0 15px;
  font-family: Montserrat, sans-serif;
}

#house {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
}

#radio-btn {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
}

#label-family , #label-content , #label-rate , .textarea {
  font-family: Montserrat, sans-serif;
}

#checkbox-learn , #rate-content , #div-agreement {
  margin: 0 0 15px;
}

#list-container {
  display: flex;
  justify-content: space-between;
}

#evaluator-container {
  display: flex;
  justify-content: space-between;
}

#textarea-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
}

#textarea {
  resize: none;
  font-size: 20px;
}

#label-infos {
  font-weight: 900;
  font-family: Montserrat, sans-serif;
  background-color: darkgreen;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#submit-btn {
  align-self: flex-start;
  background-color: rgb(50, 167, 145);
  padding: 8px 20px;
  color: white;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid darkgreen;
  border-radius: 5px;
}

#form-data {
  display: none;
  line-height: 25px;
  font-family: Montserrat, sans-serif;
  border: 2px solid darkgreen;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(50, 167, 145);
  color: white;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}

#observacoesP {
  word-wrap: break-word;
}

#image-form {
  width: 20%;
  max-width: 500px;
}

@media screen and (max-width: 1120px) {
  #evaluation-form-name {
    display: flex;
    justify-content: space-between;
  }

  #evaluation-form-email-house {
    display: flex;
    flex-direction: column;
  }

  #evaluation-form-email-house label, #evaluation-form-email-house input {
    margin: 0 0 5px;
  }

  #form-data {
    margin: 20px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    height: 120px;
  }

  .header img {
    margin: 5px 10px;
    height: 60px;
  }
}

@media screen and (max-width: 725px) {
  main {
    display: flex;
    flex-direction: column;
  }

  #image-form {
    width: 200px;
    margin: 0 0 10px;
  }

  #evaluation-form {
    display: flex;
    width: 90%;
    flex-direction: column;
    font-size: 18px;
    padding: 45px;
    border: 2px solid darkgreen;
    margin: 40px 15px;
    border-radius: 8px;
  }

  #input-name, #input-lastname {
    width: 30%;
  }

  #email-login, #senha-login {
    width: 30%;
  }

  #list-container {
    display: flex;
    flex-direction: column;
  }

  #div-agreement {
    display: flex;
  }

  #agreement {
    margin: 0 0 0 5px;
  }
}