* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.header img {
  margin: 5px 10px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-around;
  width: 500px;
  align-items: center;
}

.trybewarts-login input {
  padding: 5px;
  border-radius: 8px;
}

#trybewarts-header-title {
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  font-size: 21px;
  padding: 45px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form input {
  padding: 5px;
  border-radius: 5px;
}

#house {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  background-color: white;
}

#radio-btn {
  display: flex;
  flex-direction: column;
}

#list-container {
  display: flex;
  justify-content: space-between;
}

#evaluator-container {
  display: flex;
  justify-content: space-between;
}

#textarea-container {
  display: flex;
  flex-direction: column;
}

#textarea {
  resize: none;
  font-size: 20px;
}

#label-infos {
  font-weight: 900;
}

#submit-btn {
  align-self: flex-start;
  background-color: rgb(50, 167, 145);
  padding: 10px;
  color: white;
  border-radius: 5px;
}
