* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(50, 167, 145);
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.header img {
  margin: 5px 10px;
}

.trybewarts-login {
  display: flex;
  justify-content: space-around;
  width: 500px;
  align-items: center;
}

.trybewarts-login input {
  padding: 5px;
  border-radius: 8px;
}

#trybewarts-header-title {
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}
